<%- include('../partials/header') %>
    <%- include('../partials/sidebar') %>
        <section class="home-section">
            <%- include('../partials/navbar') %>

                <div class="mx-16">
                    <div class="flex justify-between items-center text-center">
                        <div>
                            <h1 class="inline-block text-3xl font-semibold">Dashboard</h1>
                        </div>

                        <a href="#"
                            class="transition text-md text-white bg-blue-500 hover:bg-blue-700 hover:delay-50 px-2 py-1 rounded-md">
                            <i class="fa-solid fa-download"></i> Generate Report
                        </a>
                    </div>

                    <div class="overflow-x-auto relative my-4 space-y-6 bg-white rounded-lg drop-shadow-md">
                        <div class="bg-slate-400/10 px-10 py-4 border-b-2 border-black/10">
                            <h1 class="text-blue-500 font-bold text-lg">Data Settings</h1>
                        </div>

                        <form action="" method="get" id="formdate">
                            <div class="grid grid-cols-2 mx-10 mb-10 mt-6">
                                <div class="space-y-4 mr-4">
                                    <div>
                                        <label for="startdate">Start Date</label>
                                    </div>

                                    <div class="">
                                        <input type="date" name="startdate" id="startdate"
                                            value="<%= query.startdate %>"
                                            class="border border-black/25 px-4 py-1 w-full rounded-md">
                                    </div>
                                </div>

                                <div class="space-y-4 ml-4">
                                    <div>
                                        <label for="enddate">End Date</label>
                                    </div>

                                    <div class="">
                                        <input type="date" name="enddate" id="enddate" value="<%= query.enddate %>"
                                            class="border border-black/25 px-4 py-1 w-full rounded-md">
                                    </div>
                                </div>
                            </div>

                            <div class="flex space-x-2 bg-slate-400/10 px-10 py-4 border-b-2 border-black/10">
                                <button type="submit" class="flex transition bg-emerald-500 hover:bg-emerald-600 hover:duration-300 w-26
                                text-white pr-3 rounded-md items-center font-semibold space-x-2">
                                    <div class="bg-emerald-600 py-2 px-3 rounded-l-md">
                                        <i class="fa-solid fa-check"></i>
                                    </div>
                                    <p>Query</p>
                                </button>

                                <a href="/dashboard" id="resetData" class="flex transition bg-yellow-400 hover:bg-yellow-500 hover:duration-300 w-26
                                text-white pr-3 rounded-md items-center font-semibold space-x-2">
                                    <div class="bg-yellow-500 py-2 px-3 rounded-l-md">
                                        <i class="fa-solid fa-arrow-left"></i>
                                    </div>
                                    <p>Reset</p>
                                </a>
                            </div>
                        </form>
                    </div>

                    <div class="flex justify-evenly space-x-2 font-semibold">
                        <div
                            class="overflow-x-auto relative my-4 bg-white rounded-lg drop-shadow-md w-full border-l-6 border-blue-600">
                            <div class="flex justify-between px-10 py-4 items-center">
                                <div>
                                    <h1 class="text-blue-600 uppercase">Purchases</h1>

                                    <p>
                                        <%= currencyFormatter.format(purchases[0].total, { code: 'IDR' }) %>
                                    </p>

                                </div>

                                <div class="text-xl text-gray-300">
                                    <i class="fa-solid fa-calendar"></i>
                                </div>
                            </div>
                        </div>

                        <div
                            class="overflow-x-auto relative my-4 bg-white rounded-lg drop-shadow-md w-full border-l-6 border-green-500">
                            <div class="flex justify-between px-10 py-4 items-center">
                                <div>
                                    <h1 class="text-green-500 uppercase">Sales</h1>

                                    <p>
                                        <%= currencyFormatter.format(sales[0].total, { code: 'IDR' }) %>
                                    </p>
                                </div>

                                <div class="text-xl text-gray-300">
                                    <i class="fa-solid fa-dollar-sign"></i>
                                </div>
                            </div>
                        </div>

                        <div
                            class="overflow-x-auto relative my-4 bg-white rounded-lg drop-shadow-md w-full border-l-6 border-teal-600">
                            <div class="flex justify-between px-10 py-4 items-center">
                                <div>
                                    <h1 class="text-teal-600 uppercase">Earnings</h1>

                                    <p>
                                        <%= currencyFormatter.format(sales[0].total - purchases[0].total, { code: 'IDR'
                                            }) %>
                                    </p>
                                </div>

                                <div class="text-xl text-gray-300">
                                    <i class="fa-solid fa-dollar-sign"></i>
                                </div>
                            </div>
                        </div>

                        <div
                            class="overflow-x-auto relative my-4 bg-white rounded-lg drop-shadow-md w-full border-l-6 border-yellow-500">
                            <div class="flex justify-between px-10 py-4 items-center">
                                <div>
                                    <h1 class="text-yellow-500 uppercase">Total Sales</h1>

                                    <p>
                                        <%= salestotal[0].total %>
                                    </p>
                                </div>

                                <div class="text-xl text-gray-300">
                                    <i class="fa-solid fa-comments"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="flex justify-between">
                        <div class="overflow-x-auto relative my-4 mr-2 bg-white rounded-lg drop-shadow-md w-full">
                            <div
                                class="flex justify-between bg-slate-400/10 px-10 py-4 border-b-2 border-black/10 items-center">
                                <h1 class="text-blue-500 font-bold text-lg">Earnings Overview</h1>

                                <button class="text-gray-500">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                            </div>

                            <div class="px-10 pt-6">
                                <canvas id="earning"></canvas>
                            </div>
                        </div>

                        <div class="overflow-x-auto relative my-4 ml-2 bg-white rounded-lg drop-shadow-md w-full">
                            <div class="flex justify-between bg-slate-400/10 px-10 py-4 border-b-2 border-black/10">
                                <h1 class="text-blue-500 font-bold text-lg">Revenue Sources</h1>

                                <button class="text-gray-500">
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </button>
                            </div>

                            <div class="p-10">
                                <canvas id="revsource"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="overflow-x-auto relative my-4 bg-white rounded-lg drop-shadow-md w-full">
                        <div class="bg-slate-400/10 px-10 py-4 border-b-2 border-black/10">
                            <h1 class="text-blue-500 font-bold text-lg">Earnings Monthly Report</h1>
                        </div>

                        <div class="px-10 py-4">
                            <table id="report-table" class="table-users w-full text-left">
                                <thead>
                                    <tr>
                                        <th>Monthly</th>
                                        <th>Expense</th>
                                        <th>Revenue</th>
                                        <th>Earning</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach(item=> { %>
                                        <tr>
                                            <td>
                                                <%= item.monthly %>
                                            </td>
                                            <td>
                                                <%= currencyFormatter.format(item.expense, { code: 'IDR' }) %>
                                            </td>
                                            <td>
                                                <%= currencyFormatter.format(item.revenue, { code: 'IDR' }) %>
                                            </td>
                                            <td>
                                                <%= currencyFormatter.format((item.revenue - item.expense), {
                                                    code: 'IDR' }) %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <% purchases.forEach(item=> { %>
                                            <th>
                                                <%= currencyFormatter.format(item.total, { code: 'IDR' }) %>
                                            </th>
                                            <% }) %>
                                                <% sales.forEach(item=> { %>
                                                    <th>
                                                        <%= currencyFormatter.format(item.total, { code: 'IDR' }) %>
                                                    </th>
                                                    <% }) %>
                                                        <% purchases.forEach(purch=> { %>
                                                            <% sales.forEach(sales=> { %>
                                                                <th>
                                                                    <%= currencyFormatter.format(sales.total -
                                                                        purch.total, { code: 'IDR' }) %>
                                                                </th>
                                                                <% }) %>
                                                                    <% }) %>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
        </section>
        <div style="background-color: #e4e9f7;">
            <div class="bg-white w-full text-center mt-10 items-center pb-6 text-gray-500/80">
                <h1>Copyright &#169; RUBICAMP 2022</h1>
            </div>
        </div>


        <%- include('../partials/footer') %>
            <%- include('doughnut') %>
                <%- include('line') %>