<%- include('../partials/header.ejs') %>
    <%- include('../partials/sidebar.ejs') %>
        <section class="home-section">
            <%- include('../partials/navbar.ejs') %>

                <div class="mx-10">
                    <div class="text">
                        <h1>Users</h1>

                        <p class="text-sm opacity-50">This is data of Users</p>
                    </div>

                </div>

                <div class="overflow-x-auto relative mx-10 my-4 space-y-6 bg-white rounded-lg drop-shadow-md">
                    <div class="bg-slate-400/10 px-6 py-4 border-b-2 border-black/10">
                        <a href="/users/add"
                            class="transition bg-blue-600 hover:bg-blue-500 w-1/4 text-white px-3 py-2 rounded-md items-center font-semibold">
                            <i class="fa-solid fa-plus"></i> | Add</a>
                    </div>

                    <div class="flex space-x-2 px-10 items-center">
                        <h1>Show</h1>
                        <input type="number" name="limit" class="border border-black/50 rounded-md pl-2.5 py-1">
                        <h1>entries</h1>
                    </div>

                    <div class="overflow-x-auto relative px-4 pt-2 pb-6 rounded-md">
                        <div class="px-4 -py-2">
                            <table class="w-full table-users">
                                <thead class="bg-transparent shadow-md">
                                    <tr class="text-left text-black">
                                        <th>No</th>
                                        <th>User ID</th>
                                        <th>Email</th>
                                        <th>Name</th>
                                        <th>Password</th>
                                        <th>Role</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="">
                                    <% data.forEach((item, index)=> { %>
                                        <tr>
                                            <td>
                                                <%= index + 1 %>
                                            </td>
                                            <td>
                                                <%= item.userid %>
                                            </td>
                                            <td>
                                                <%= item.email %>
                                            </td>
                                            <td>
                                                <%= item.name %>
                                            </td>
                                            <td>
                                                <%= item.password %>
                                            </td>
                                            <td>
                                                <%= item.role %>
                                            </td>
                                            <td class="text-white">
                                                <a href="/users/edit/<%= item.userid %>"
                                                    class="transition bg-green-600 px-2 py-1 rounded-full hover:bg-green-500"><i
                                                        class="fa-solid fa-pen-to-square"></i></a>

                                                <a href="/users/delete/<%= item.userid %>"
                                                    onclick="return confirm('Are you sure want to delete this user accout?')"
                                                    class="transition bg-red-600 px-2 py-1 rounded-full hover:bg-red-500"><i
                                                        class="fa-solid fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                            <div class="flex justify-between mt-8 items-center">
                                <div class="text-gray-500">
                                    <h1>Showing 1 to 3 of 4 entries</h1>
                                </div>
                                <div id="pagination">
                                    <nav aria-label="Page navigation example">
                                        <ul class="inline-flex -space-x-px">
                                            <li>
                                                <a href="#"
                                                    class="py-1 px-3 ml-0 leading-tight text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">Previous</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="py-1 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">1</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="py-1 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </section>

        <%- include('../partials/footer.ejs') %>