<%- include('../partials/header.ejs') %>
    <%- include('../partials/sidebar.ejs') %>
        <section class="home-section">
            <%- include('../partials/navbar.ejs') %>

                <div class="mx-10">
                    <div class="text">
                        <h1>Units</h1>

                        <p class="text-sm opacity-50">This is data of units</p>
                    </div>

                </div>

                <div class="overflow-x-auto relative mx-10 my-4 space-y-6 bg-white rounded-lg drop-shadow-md">
                    <div class="bg-slate-400/10 px-6 py-4 border-b-2 border-black/10">
                        <a href="/units/add"
                            class="flex transition bg-blue-500 hover:bg-blue-600 w-24 text-white pr-3 rounded-md items-center font-semibold space-x-2">
                            <div class="bg-blue-600 py-2 px-3 rounded-l-md">
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <p>Add</p>
                        </a>
                    </div>

                    <div class="overflow-x-auto relative px-4 pt-2 pb-6 rounded-md">
                        <div class="px-4 -py-2">
                            <table id="users-table" class="w-full table-users">
                                <thead class="bg-transparent shadow-md">
                                    <tr class="text-left text-black">
                                        <th>Unit</th>
                                        <th>Name</th>
                                        <th>Note</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach((item, index)=> { %>
                                        <tr id="loop">
                                            <td>
                                                <%= item.unit %>
                                            </td>
                                            <td>
                                                <%= item.name %>
                                            </td>
                                            <td>
                                                <%= item.note %>
                                            </td>
                                            <td class="text-white flex space-x-2">
                                                <a href="/units/edit/<%= item.unitid %>"
                                                    class="transition bg-green-600 px-2 py-1 rounded-full hover:bg-green-500"><i
                                                        class="fa-solid fa-circle-info"></i></a>

                                                <a href="/units/delete/<%= item.unitid %>"
                                                    onclick="return confirm('Are you sure want to delete this data?')"
                                                    dataid="<%= item.userid %>"
                                                    class="transition block modal-open text-white bg-red-600 hover:bg-red-700 font-medium rounded-full text-sm px-2.5 py-1 text-center items-center"
                                                    type="button" data-modal-toggle="popup-modal">
                                                    <i class="fa-solid fa-trash"></i>
                                                </a>
                                                <%#- include('../partials/deleteModals') %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                            <tr class="text-left hover:bg-white text-black">
                                                <td>Unit</td>
                                                <td>Name</td>
                                                <td>Note</td>
                                                <td>Action</td>
                                            </tr>
                                </tbody>
                            </table>
                            <div class="flex justify-between mt-8 items-center">
                                <div class="text-gray-500">
                                    <!-- <h1>Showing <%#= page %> to <%#= pages %> of <%#= pages %> entries</h1> -->
                                </div>
                                <!-- <div id="pagination">
                                    <nav aria-label="Page navigation example">
                                        <ul class="inline-flex -space-x-px">
                                            <li>
                                                <%##if (page !=1 ) { %>
                                                    <a href="<%#=url.replace(`page=${page}`,`page=${parseInt(page)-1}`)%>"
                                                        class="py-1 px-3 ml-0 leading-tight text-gray-500 bg-white
                                                        rounded-l-lg border border-gray-300 hover:bg-gray-100
                                                        hover:text-gray-700">Previous</a>
                                                    <%# } %>

                                            </li>
                                            <%# for( let i=1; i <=pages; i++ ) { %>
                                                <li class="<%#= i == page ? 'active' : '' %> ">
                                                    <a href="<%#=url.replace(`page=${page}`,`page=${i}`)%>"
                                                        class="py-1 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                                                        <%#= i %>
                                                    </a>
                                                </li>
                                                <%# } %>
                                                    <li>
                                                        <%#if (page <=pages && page !=pages ) { %>
                                                            <a href="<%#=url.replace(`page=${page}`,`page=${parseInt(page)+1}`)%>"
                                                                class="py-1 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">Next</a>
                                                            <%# } %>
                                                    </li>
                                        </ul>
                                    </nav>
                                </div> -->
                            </div>
                        </div>
                    </div>

                </div>
        </section>

        <%- include('../partials/deleteModals.ejs') %>
            <%- include('../partials/footer.ejs') %>