<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/sidebar.ejs') %>
        <section class="home-section">
            <%- include('../../partials/navbar.ejs') %>

                <div class="mx-10">
                    <div class="text">
                        <h1 class="mx-6">Units</h1>
                    </div>

                    <div class="overflow-x-auto relative mx-10 my-0.5 space-y-6 bg-white rounded-lg drop-shadow-md">
                        <div class="bg-slate-400/10 px-10 py-4 border-b-2 border-black/10">
                            <h1 class="text-blue-500 font-bold text-lg">Form Add</h1>
                        </div>

                        <div>
                            <form action="" method="post" encType="multipart/form-data">
                                <div>
                                    <div class="flex space-x-20 px-10 items-center">
                                        <label for="barcode" class="text-lg font-semibold">Barcode</label>
                                        <input type="text" placeholder="Barcode" value="<%= item.barcode
                                        %>" class="my-4 text-black px-6 py-2 w-full rounded-xl border-gray-400 border-2"
                                            disabled>
                                        <br />
                                    </div>

                                    <div class="flex space-x-25 px-10 items-center">
                                        <label for="name" class="text-lg font-semibold">Name</label>
                                        <input type="text" name="name" placeholder="Name" value="<%= item.name
                                        %>" class="my-4 text-black px-6 py-2 w-full rounded-xl border-gray-400 border-2"
                                            required>
                                        <br />
                                    </div>

                                    <div class="flex space-x-26 px-10 items-center" id="numver">
                                        <label for="stock" class="text-lg font-semibold">Stock</label>
                                        <input id type="number" name="stock" placeholder="0" value="<%= item.stock
                                        %>" class="my-4 text-black px-6 py-2 w-full rounded-xl border-gray-400 border-2"
                                            required>
                                        <br />
                                    </div>

                                    <div class="flex space-x-9 px-10 items-center" id="numver">
                                        <label for="purchaseprice" class="text-lg font-semibold ">Purchase
                                            Price</label>
                                        <input type="number" name="purchaseprice" placeholder="0" value="<%= item.purchaseprice
                                        %>" class="my-4 text-black px-6 py-2 w-full rounded-xl border-gray-400 border-2"
                                            required>
                                        <br />
                                    </div>

                                    <div class="flex space-x-14.5 px-10 items-center" id="numver">
                                        <label for="sellingprice" class="text-lg font-semibold">Selling Price</label>
                                        <input type="number" name="sellingprice" placeholder="0" value="<%= item.sellingprice
                                        %>" class="my-4 text-black px-6 py-2 w-full rounded-xl border-gray-400 border-2"
                                            required>
                                        <br />
                                    </div>

                                    <div class="flex space-x-30 px-10 items-center">
                                        <label for="unit" class="text-lg font-semibold">Unit</label>
                                        <select name="unit" id="unit" class="my-4 text-black px-6 py-2 w-full rounded-xl border-gray-400 border-2
                                            bg-transparent">
                                            <option value="" selected disabled>Choose Unit</option>
                                            <option value="pcs" <%=item.unit=='pcs' ? 'selected' : '' %>>Pieces</option>
                                            <option value="ltr" <%=item.unit=='ltr' ? 'selected' : '' %>>Liter</option>
                                        </select>
                                        <br />
                                    </div>

                                    <div class="flex space-x-24 px-10 items-center">
                                        <label for="picture" class="text-lg font-semibold">Picture</label>
                                        <input type="file" name="picture" onchange="loadFile(event)" id="imgInp"
                                            class="my-4 text-black px-6 py-2 w-full rounded-xl border-gray-400 border-2"
                                            required>
                                        <br />
                                    </div>

                                    <div class="flex space-x-24 px-10 mt-6">
                                        <label for="picture" class="text-lg font-semibold">Preview</label>
                                        <img id="output" class="w-auto border rounded-sm border-black/25" />
                                    </div>
                                    <%#- include('../partials/alert.ejs') %>
                                </div>

                                <div class="flex px-10 space-x-4 my-4 border-t-2 pt-4">
                                    <div>
                                        <button type="submit"
                                            class="flex transition text-center text-white bg-green-500 hover:bg-green-600 hover:delay-200 rounded-lg font-semibold items-center space-x-2">
                                            <div class="px-3 py-2 rounded-l-lg bg-green-600">
                                                <i class="fa-solid fa-database"></i>
                                            </div>
                                            <p class="pr-3">Save</p>
                                        </button>
                                    </div>
                                    <div>
                                        <a href="/goods"
                                            class="flex transition text-center text-white bg-yellow-400 hover:bg-yellow-500 hover:delay-200 rounded-lg font-semibold items-center space-x-2">
                                            <div class="px-3 py-2 rounded-l-lg bg-yellow-500">
                                                <i class="fa-solid fa-rotate-left"></i>
                                            </div>
                                            <p class="pr-3">Back</p>
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
        </section>

        <%- include('../../partials/footer.ejs') %>